version: "3"

services:
  rails:
    build: .
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    volumes:
      - .:/myapp
    ports:
      - 80:3000
    depends_on:
      - db

  db:
    image: postgres:9.6.2
